0.SqrEquation/.idea/
0.SqrEquation/cmake-build-debug/
0.SqrEquation/cmake-build-minsizerel/
0.SqrEquation/cmake-build-release/
0.SqrEquation/cmake-build-relwithdebinfo/
0.SqrEquation/html/
0.SqrEquation/latex/